# Konfigurasi Line Endings
* text=auto eol=lf

# Abaikan file agar tidak masuk statistik (pilih salah satu)
*.blade.php linguist-detectable=false
*.blade.php linguist-language=Blade
# Vendor & Node Modules (Sudah benar)
vendor/* linguist-vendored
node_modules/* linguist-vendored
public/js/* linguist-vendored
public/css/* linguist-vendored

# Pengaturan Diff (Sudah benar)
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Export ignore (Sudah benar)
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore