# Pengaturan standar
* text=auto eol=lf

# Agar file Blade dideteksi sebagai Blade
*.blade.php linguist-language=Blade

# Diff settings
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Sembunyikan file sistem yang tidak perlu dihitung
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Cukup vendored folder yang benar-benar bukan kode Anda
bootstrap/**/* linguist-vendored
storage/**/* linguist-vendored