* text=auto eol=lf
# Anggap blade sebagai HTML
*.blade.php linguist-language=PHP
# Exclude folder vendor & node_modules dari statistik
vendor/* linguist-vendored
node_modules/* linguist-vendored
public/js/* linguist-vendored
public/css/* linguist-vendored
*.blade.php linguist-detectable=false
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
